* {
    margin: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2 {
    color: #3b94a2;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 20px auto;
}

section {
    margin-top: 50px;
}

table {
    border: 0.5px solid #53a8b6;
    border-collapse: collapse;
    width: 800px;
    margin: 0 auto;

}

th {
    background-color: #53a8b6;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(odd) {
    background-color: #bbe4e9;
}

th,
td {
    padding: 10px;
    font-size: 16px;
}

.monospace {
    font-family: monospace;
}